body,
html{
  width: 100%;
  height: 100%; 
}

header{
  background-position: right;
  background-image: url("ComputerS.jpg");
  background-size: cover;
  height: 100%;
}
h1{
  padding: 20px;
  color: #552300;
  font-family: 'Lobster', cursive;
  margin-bottom: 40px;
}
.container{
  margin-right: 50px;
  padding: 15px 2px 15px 2px;
}
h2{
  padding-right: 20px;
  padding-left: 180px;
  color: #A43741;
  font-size: 25px;
}
hr{
  border-width: 3px;
  border-color: rgba(164, 55, 65, 0.5);
  max-width: 65px;
  margin-right: 34px;
  padding-right:150px;
  border-radius:2px;
}
.btn{
  margin-top:30px;
  margin-right: 9.989px;
  background-color: #B45200;
  border-color: #9B7A00;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover{
  background-color: #B47800;
  border-color: #9B4600;
}
#button{
    padding-right: 25px;
}
